<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Nuevo Usuario | SISI</title>
<link rel="icon" href="../img/ISOTIPO.png">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
	integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../css/admin1estilos.css">
</head>

<body id="body">
	<div class="container" th:replace="index ::html_navbar"></div>
	<div class="container-fluid-xl dash2">
		<div class="row">
			<div class="col-lg-3 col-md-4 menu__side"
				th:replace="index ::html_menulateral"></div>
			<!-- DESDE ACA EL ENCABEZADO -->
			<div class="col-lg-8  col-md-8   ">
				<br> <br> <br>
				<div class="container-fluid-xl">
					<div class="row">
						<div class="col-md-12 mt-5 dash">
							<div class="title mb-2">
								<h2 th:if="${usuario.id == null}" style="font-size: 42px">NUEVO
									USUARIO</h2>
								<h2 th:unless="${usuario.id == null}" style="font-size: 42px">ACTUALIZAR
									USUARIO</h2>
							</div>
							<p class="d-flex justify-content-center">
								<a href="#ident" class="btn  mb-2"
									style="border-radius: 50px; background-color: #ffdf7b;"
									data-toggle="collapse"><i class="fas fa-question-circle"
									style="color: black;"></i><b style="color: black;"> Info</b></a>
							</p>
							<div id="ident" class="collapse">
								<p class="alert  text-censtart-3  mt-5"
									style="color: black; background-color: #ffdf7b; opacity: 90%;">
									En el módulo USUARIO podrá registrar nuevos usuarios en el
									sistema ya sea un administrador o un usuario con un rol
									diferente, también podra ver la lista de usuarios registrados,
									buscar usuarios en el sistema, actualizar datos de otros
									usuarios y los suyos.</p>
							</div>
							<!-- HASTA ACA ENCABEZADO -->
							<!-- DESDE ACA LAS OPCIONES -->
							<div class="row">
								<div
									class="text-center option_prov col-lg-6 col-md-6 col-sm-6 mt-3">
									<a class="option_prov" th:href="@{/registro}"><i
										class="fas fa-user-circle"></i> NUEVO USUARIO</a>
								</div>
								<div
									class="text-center option_prov col-lg-6 col-md-6 col-sm-6 mt-3">
									<a class="option_prov" th:href="@{/usuarios}"><i
										class="fa fa-list"></i> LISTA DE USUARIOS</a>
								</div>
							</div>
							<!-- HASTA ACA OPCIONES-->
							<!-- DESDE ACA EL FORMULARIO -->
							<div class="row">
								<div class="col-lg-12 mt-4">
									<!-- ALERT -->
									<div th:if="${param.exito}">
										<div class="alert alert-info">Se ha registrado el
											usuario exitosamente al sistema</div>
									</div>
									<!-- END ALERT -->
									<div class="card shadow-lg p-0 mb-5 bg-white">
										<div class="card-header bg-primary text-center mb-2"
											style="font-size: 25px;">
											<i class="far fa-id-card mt-2 "></i> Información personal
										</div>
										<div class="card-body">
											<form th:action="@{/registro}" th:object="${usuario}"
												method="post" id="formulario1"
												class="needs-validation form-sigin" novalidate
												onsubmit="return ValidarForm4()">
												<div class="form-frow row">
													<div class="col-md-6 mb-3 mt-2">
														<label for="" class="form-label">Tipo de
															documento:</label>
														<div class="input-group">
															<select th:field="*{tipo_Documento}" class="form-select"
																tabindex="-98" name="tipo2" id="tipo2" required>
																<option selected disabled value="">Seleccione
																	una opción</option>
																<option value="Cédula de ciudadanía">Cédula de
																	ciudadanía</option>
																<option value="Cédula de extranjería">Cédula de
																	extranjería</option>
																<option value="DNI">DNI</option>
																<option value="RUT">RUT</option>
																<option value="NIT">NIT</option>
																<option value="Otro">Otro</option>
															</select>
														</div>
													</div>
													<div class="col-md-6 mb-3 mt-2">
														<label for="" class="form-label">Número del
															documento: </label> <input th:field="*{codUsuario}" type="number"
															class="form-control" name="numDoc" id="numDoc" value=""
															required placeholder="0000000001">
														<div class="valid-feedback">Ingreso de datos
															correcto</div>
														<div class="invalid-feedback">campo requerido</div>
													</div>
												</div>
												<div class="form-frow row">
													<div class="col-md-6 mb-3 mt-2">
														<label for="" class="form-label"> Nombres: </label> <input
															th:field="*{nombre}" type="text" class="form-control"
															name="nom" id="nom" value="" required
															placeholder="Ej: David">
														<div class="valid-feedback">Ingreso de datos
															correcto</div>
														<div class="invalid-feedback">campo requerido</div>
													</div>
													<div class="col-md-6 mb-2 mt-2">
														<label for="" class="form-label"> Apellidos: </label> <input
															th:field="*{apellido}" type="text" class="form-control"
															name="Lastname" id="Lastname" value="" required
															placeholder="Ej: Hernandez">
														<div class="valid-feedback">Ingreso de datos
															correcto</div>
														<div class="invalid-feedback">campo requerido</div>
													</div>
												</div>
												<div class="form-frow row">
													<div class="col-md-12 mb-3 mt-2">
														<label for="" class="form-label"> Dirección: </label> <input
															th:field="*{direccion}" type="text" class="form-control"
															name="direc" id="direc" placeholder="dirección" value=""
															required>
														<div class="valid-feedback">Ingreso de datos
															correcto</div>
														<div class="invalid-feedback">campo requerido</div>
													</div>

													<div class="col-md-6 mb-3 mt-2 ">
														<label for="" class="form-label"> Teléfono: </label> <input
															th:field="*{telefono}" type="number" class="form-control"
															name="tel" id="tel" placeholder="teléfono" value=""
															required>
														<div class="valid-feedback">Ingreso de datos
															correcto</div>
														<div class="invalid-feedback">campo requerido</div>
													</div>
													<div class="col-md-6 mt-2 mb-3 ">
														<label for="validationCustom04" class="form-label">Género:
														</label> <select th:field="*{genero}" class="form-select"
															name="gen" id="gen" required>
															<option selected disabled value="">Seleccione
																una opción</option>
															<option value="Masculino">Masculino</option>
															<option value="Femenino">Femenino</option>
														</select>
														<div class="invalid-feedback">Campo requerido</div>
													</div>
												</div>
												<div class="card-header bg-primary text-center mb-3 mt-1 "
													style="font-size: 25px;">
													<i class="fas fa-user-lock"></i> Información de la cuenta
												</div>
												<div class="form-frow row">
													<div class="col-md-12 mb-4 ">
														<label class="form-label" for="contra"> Correo: </label>
														<div class="input-group">
															<div class="input-group-prepend">
																<span class="input-group-text" id="inputGroupPrepend">@</span>
															</div>
															<input th:field="*{email}" type="email"
																class="form-control" name="cor" id="cor"
																placeholder="correo" value="" required />
															<div class="valid-feedback">Ingreso de datos
																correcto</div>
															<div class="invalid-feedback">Correo no valido</div>
														</div>
													</div>
													<div class="col-md-6 mb-3 ">
														<label class="form-label" for="pass"> Contraseña:
														</label> <input th:field="*{password}" type="password"
															class="form-control" name="contra" id="contra" required>
														<div class="valid-feedback">Ingreso de datos
															correcto</div>
														<div class="invalid-feedback">campo requerido</div>
													</div>
													<div class="col-md-6 mb-3 ">
														<label class="form-label" for="pass"> Repetir
															contraseña: </label> <input type="password" class="form-control"
															id="contra2" required>
														<div class="valid-feedback">Ingreso de datos
															correcto</div>
														<div class="invalid-feedback">campo requerido</div>
													</div>
												</div>
												<div class="card-header bg-primary text-center mb-0 mt-1 "
													style="font-size: 25px;">
													<i class="fas fa-mask"></i> Roles
												</div>
												<div class="col-md-12 mb-3 mt-0 text-left">
													<th:block th:each="rol : ${listaRoles}">
														<div class="list-group list-group-flush">
															<li class="list-group-item list-group-item-secondary">
																<input type="radio" th:field="*{roles}"
																th:text="' ' + ${rol.nombre}" th:value="${rol.id}"
																id=rol required>
																<div class="valid-feedback ">Ingreso de datos
																	correcto</div>
																<div class="invalid-feedback">campo requerido</div>
															</li>
														</div>
													</th:block>
												</div>
												<div class="text-center mt-1 mb-3">
													<button class="btn btn-secondary" type="reset">Limpiar</button>
													<button class="btn btn-success" type="submit"
														name="btnGrabar">Guardar</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/../js/jquery-3.5.1.slim.min.js"></script>
	<script src="/../js/bootstrap.min.js"></script>
	<script src="/../js/funciones.js"></script>
	<script src="/../js/validación.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
		integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
	<script type="text/javascript">
		function ValidarForm4() {

			var numDoc = document.getElementById("numDoc").value;
			var name = document.getElementById("nom").value;
			var apellido = document.getElementById("Lastname").value;
			var direc = document.getElementById("direc").value;
			var tel = document.getElementById("tel").value;
			var cor = document.getElementById("cor").value;
			var contra = document.getElementById("contra").value;
			var contra2 = document.getElementById("contra2").value;
			var rol = document.getElementById("rol").value;

			expresion = /\w+@\w+\.+[a-z]/;

			if (!numDoc || numDoc == "") {
				Swal.fire({
					icon : 'error',
					title : 'Datos Incompletos',
					text : 'El número de documento es requerido',
					showConfirmButton : true,
					timer : 8000
				});
				return false;
			}
			if (!name || name == "") {
				Swal.fire({
					icon : 'error',
					title : 'Datos Incompletos',
					text : 'Los nombres del usuario son requeridos',
					showConfirmButton : true,
					timer : 8000
				});
				return false;
			}
			if (!apellido || apellido == "") {
				Swal.fire({
					icon : 'error',
					title : 'Datos Incompletos',
					text : 'Los apellidos del usuario son requeridos',
					showConfirmButton : true,
					timer : 8000
				});
				return false;
			}
			if (!direc || direc == "") {
				Swal.fire({
					icon : 'error',
					title : 'Datos Incompletos',
					text : 'La dirección del usuario es requerida',
					showConfirmButton : true,
					timer : 8000
				});
				return false;
			}
			if (!tel || tel == "") {
				Swal.fire({
					icon : 'error',
					title : 'Datos Incompletos',
					text : 'El número de contacto es requerido',
					showConfirmButton : true,
					timer : 8000
				});
				return false;
			}
			if (cor.length > 50) {
				Swal.fire({
					icon : 'error',
					title : 'Datos Incompletos',
					text : 'El correo es muy extenso!',
					showConfirmButton : true,
					timer : 8000
				});
				return false;
			}
			if (!cor || cor == "") {
				Swal.fire({
					icon : 'error',
					title : 'Datos Incompletos',
					text : 'El correo es requerido',
					showConfirmButton : true,
					timer : 8000
				});
				return false;
			}
			if (!expresion.test(cor)) {
				Swal.fire({
					icon : 'error',
					title : 'Datos Incompletos',
					text : 'El correo no es valido',
					showConfirmButton : true,
					timer : 8000
				});
				return false;
			}
			if (!contra || contra == "") {
				Swal.fire({
					icon : 'error',
					title : 'Datos Incompletos',
					text : 'La contraseña es Obligatoria',
					showConfirmButton : true,
					timer : 8000
				});
				return false;
			}
			if (contra.length < 10) {
				Swal.fire({
					icon : 'error',
					title : 'Cuidado!',
					text : 'La contraseña es muy corta',
					showConfirmButton : true,
					timer : 8000
				});
				return false;
			}

			if (!contra2 || contra2 == "") {
				Swal.fire({
					icon : 'error',
					title : 'Datos Incompletos',
					text : 'Confirme la contraseña',
					showConfirmButton : true,
					timer : 8000
				});
				return false;
			}
			if (contra != "" && contra != contra2) {
				Swal.fire({
					icon : 'error',
					title : 'Error',
					text : 'Las contraseñas no coinciden',
					showConfirmButton : true,
					timer : 8000
				});
				return false;
			}
		}
	</script>
</body>

</html>