<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Linkeamiento de estilos -->
<link rel="stylesheet" href="css/reset_password_form.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<!-- Titulo fuentes y icons -->
<title>Recuperar Contraseña</title>
<link rel="icon" href="img/ISOTIPO.png">
</head>
<body>
	<div class="login-page">
		<h1>Recuperar Contraseña</h1>
		<div class="form">
			<form th:action="@{/reset_password}" method="post"
				class="recovery-form needs-validation" novalidate
				onsubmit="return ValidarForm5()">
				<input type="hidden" name="token" th:value="${token}" /> <input
					type="password" name="password" id="password" class="form-control"
					placeholder="Ingrese su nueva contraseña" required autofocus /> <input
					type="password" class="form-control" name="password2"
					id="password2" placeholder="Confirme su nueva contraseña" required />
				<button type="submit" class="btn btn-primary">Cambiar la
					contraseña</button>
			</form>
		</div>
	</div>
	<script src="/../js/bootstrap.min.js"></script>
	<script src="/../js/validación.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
	<script type="text/javascript">
		function ValidarForm5() {
			var contra = document.getElementById("password").value;
			var contra2 = document.getElementById("password2").value;

			if (contra.length < 8) {
				Swal.fire({
					icon : 'error',
					title : 'Cuidado!',
					text : 'La contraseña es muy corta',
					showConfirmButton : true,
					timer : 8000
				});
				return false;
			}

			if (!contra || contra == "") {
				Swal.fire({
					icon : 'error',
					title : 'Datos Incompletos',
					text : 'Ingrese la contraseña',
					showConfirmButton : true,
					timer : 8000
				});
				return false;
			}

			if (!contra2 || contra2 == "") {
				Swal.fire({
					icon : 'error',
					title : 'Datos Incompletos',
					text : 'Confirme la contraseña',
					showConfirmButton : true,
					timer : 8000
				});
				return false;
			}
			if (contra != "" && contra != contra2) {
				Swal.fire({
					icon : 'error',
					title : 'Error',
					text : 'Las contraseñas no coinciden',
					showConfirmButton : true,
					timer : 8000
				});
				return false;
			}
		}
	</script>
</body>
</html>